{% extends "layout.njk" %}

{% block content %}

<div>
  <ul>
    {% for game in games %}
      <li>name: {{ game.name }}</li>
        {% else %}
      <li>Toto</li>
    {% endfor %}
  </ul>
</div>

{% endblock %}
