{% extends "layout.njk" %}

{% block content %}
  <h1>{{ slugGame.name }}<h1>

  <img src="{{ slugGame.cover_url }}">

  {% for slugGenre in slugGame.games_genres %}
    <p>{{ slugGenre.genre.name }}</p>
  {% endfor %}

  {% for slugPlatform in slugGame.games_platforms %}
    <p>{{ slugPlatform.platform.name }}</p>
  {% endfor %}

  <p>Evaluation</p>

  <div class="progress">
  <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: {{ slugGame.total_rating}}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
  </div>

  {# <p>Evaluation: {{ slugGame.total_rating}} / 100</p> #}
  <p>Nombre d'évalutation: {{ slugGame.total_rating_count}}</p>

  {% for screenshot in slugGame.game_screenshots %}
    <img src={{ screenshot.url }} </img>
  {% endfor %}

{% endblock %}
